/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: Rubik, Inter, Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --color-0: 211 202 194;
    --color-1: 250 250 250;
    --color-2: 255 255 255;
    --color-4: 252 244 236;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-0: 2 12 22;
      --color-1: 30 37 43;
      --color-2: 38 45 52;
      --color-4: 44 53 61;
    }
  }
}
