@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"); */

* {
  font-family: Rubik, Inter, Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --color-0: 211 202 194;
    --color-1: 247 247 247;
    --color-2: 255 255 255;
    --color-4: 245 245 245;
    --color-dark-5: 255 255 255;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-0: 2 12 22;
      --color-1: 29 30 31;
      --color-2: 45 45 45;
      --color-4: 44 53 61;
      --color-dark-5: 10 10 10;
    }
  }
  :root[data-theme='dark'] {
    --color-0: 2 12 22;
    --color-1: 29 30 31;
    --color-2: 45 45 45;
    --color-4: 44 53 61;
    --color-gray-bg: 247 247 247;
    --color-gray-6: 244 246 248;
    --color-gray-5: 160 170 184;
    --color-gray-3: 247 247 247;
    --color-dark-5: 19 19 19;
  }
  :root[data-theme='light'] {
    --color-0: 211 202 194;
    --color-1: 247 247 247;
    --color-2: 255 255 255;
    --color-4: 245 245 245;
    --color-gray-bg: 2 12 22;
    --color-gray-6: 51 52 57;
    --color-gray-5: 197 208 230;
    --color-gray-3: 151 152 157;
    --color-dark-5: 255 255 255;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee177;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
[data-color-mode*='dark'] .wmde-markdown {
  background-color: #2d2d2d;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.small-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee166;
  border-radius: 20px;
  border: 1px solid transparent;
}

/* .group:hover .hoverFadeIn {
  opacity: 0.8;
}

.hoverFadeIn {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
} */

.transition {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
